<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=d  evice-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="main.css">
        <title>Site de Música</title>
    </head>
    <body>
        <nav>
        	<ul>
        		<li><a th:href="@{/musica}">Cadastrar Música</a></li>
        		<li><a th:href="@{/musicas}">Lista de Músicas</a></li>
        	</ul>
        </nav>
    </body>
</html>